<ion-view title="Detalles" cache-view="false">
    <ion-content>
	    <div class="superior-productos">
	       <img class="home-icon-1" src="img/epd-icon.png">
	       <a ng-href="#/productos" class="home-superior-a" target="_self"><img class="home-icon" src="img/bac-icon.png"></a>
	       <a ng-href="#" class="home-superior-a"><img class="home-icon" src="img/home-icon.png"></a>
        </div>
        <h4 class="nutricion_h4">Nutrición Avanzada</h4>
     	<div class="producto-msg-title">
			{{ producto.nombre }}
    	</div>
        
        <div class="form-container">
            <a class="button button-small button-icon icon ion-ios-information-outline" ng-click="mostrarInformacionNutricional()"> Información nutricional</a>
        </div>
    	<div class="slider-productos">
		    <div class="detalles-imagen">
				<img class="productos-imagen-home" src="{{ producto.imagen }}">
            </div>
		</div>
        <div class="invima">
        Invima: {{ producto.invima }}
        </div>
        <div class="form-container">
            <select ng-model="plan.numero_tomas_dia" class="select-blue" ng-change="actualizarplan()">
                <option value="" disabled selected>Número de tomas al dia</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
            </select>
            <div>
                <br>
            </div>
            <select ng-model="plan.numero_meses" class="select-blue" ng-change="actualizarplan()">
                <option value="" disabled selected>Número de meses del tratamiento</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
            </select>
            <div>
                <br>
            </div>
            <select ng-model="plan.id_presentacion" class="select-blue" ng-change="actualizarplan()">
                <option value="" disabled selected>Presentación a formular</option>
                <option ng-repeat="presentacion in producto.presentaciones" value="{{ presentacion.id }}">{{ presentacion.detalle }}</option>
            </select>
            <div>
                <br>
            </div>
            <button class="boton-detalles" ng-click="verplan()">Continuar</button>
        </div>
        <script id="image-modal.html" type="text/ng-template">
              <div class="modal image-modal transparent" ng-click="closeModal()">
                  <ion-pane class="transparent">
                     <img src="{{ producto.nutricional }}" class="fullscreen-image"/>
                  </ion-pane>
              </div>
          </script>
    </ion-content>
</ion-view>