<ion-view title="Productos">
    <ion-content>
	    <div class="superior-productos">
		    <img class="home-icon-1" src="img/epd-icon.png">
		    <h4>Nutricion inteligente</h4>
	         <a href="#/productos" class="home-superior-a"><img class="home-icon" src="img/bac-icon.png"></a>
	         <a href="#" class="home-superior-a"><img class="home-icon" src="img/home-icon.png"></a>
	    </div>
	    <div class="producto-msg-title">
			{{ producto.nombre }}
			{{ presentacion.detalle }}
		</div>
		<div class="slider-productos">
		    <div class="detalles-imagen">
				<img  class="productos-imagen-home" src="{{ producto.imagen }}">
			</div>
		</div>
		<div>
				<select ng-model="plan.numero_meses" class="select-blue">
                <option value="" disabled selected>Selecione una eps </option>
                <option ng-repeat="disponibilidad in presentacion.disponibilidad">{{ disponibilidad.eps+" "+disponibilidad.codigo }}</option>	
            	</select>
		</div>
    </ion-content>
</ion-view>