<ion-view title="Plan" cache-view="false" >
    <ion-content>
	    <div class="superior-productos">
		    <img class="home-icon-1" src="img/epd-icon.png">
		    <h4>Nutricion avanzada</h4>
	         <a ng-href="#/productos" class="home-superior-a" target="_self"><img class="home-icon" src="img/bac-icon.png"></a>
	         <a ng-href="#" class="home-superior-a"><img class="home-icon" src="img/home-icon.png"></a>
	    </div>
	    <div class="producto-msg-title">
			{{ producto.nombre }}
		</div>
		<div class="slider-productos">
		    <div class="detalles-imagen">
				<img   class="productos-imagen-detalles" src="{{ producto.imagen }}">
			</div>
		</div>
		<div class="form-container"> 
			<div class="datos">
				<div class="box1"> 
					<p>Total</p>
					<h1>{{latas}}</h1>
					<p>Latas del tratamiento</p>
				</div>
				<div class="box2">
				    <p>Número de tomas al dia: <strong>{{plan.numero_tomas_dia}}</strong></p>
				    <p>Número de meses: <strong>{{plan.numero_meses}}</strong></p>
				    <p>Presentación: <strong>{{presentacion.detalle}}</strong></p>
				</div>
			</div>
			<p class="eps-text">Selecccione la eps para obtener codigo de producto:</p>
			<select class="select-blue" ng-model="modeloeps" ng-options="disponibilidad as disponibilidad.eps for disponibilidad in presentacion.disponibilidad" ng-change="obtener()" >
            </select>
            <p class="codigo-text"><strong>Codigo {{modeloeps.codigo}}</strong></p>
		</div>
		
	</ion-content>
</ion-view>