<ion-view title="Plan" cache-view="false" >
    <ion-content>
	    <div class="superior-productos">
		    <img class="home-icon-1" src="img/epd-icon.png">
		    <h4>Nutricion inteligente</h4>
	         <a ng-href="#/productos" class="home-superior-a" target="_self"><img class="home-icon" src="img/bac-icon.png"></a>
	         <a ng-href="#" class="home-superior-a"><img class="home-icon" src="img/home-icon.png"></a>
	    </div>
	    <div class="producto-msg-title">
			{{ producto.nombre }}
			{{ presentacion.detalle }}
		</div>
		<div class="slider-productos">
		    <div class="detalles-imagen">
				<img  class="productos-imagen-home" src="{{ producto.imagen }}">
			</div>
		</div>
		<div>
				<select class="select-blue" ng-model="modeloeps" ng-options="disponibilidad as disponibilidad.eps for disponibilidad in presentacion.disponibilidad" ng-change="obtener()" >
            	</select>
		</div>
		<p><strong>Codigo de eps: {{modeloeps.codigo}}</strong></p>
	</ion-content>
</ion-view>