<ion-view title="Productos">
    <ion-content>
    <div class="superior-productos">
	    <img class="home-icon-1" src="img/epd-icon.png">
	    <h4>Nutricion inteligente</h4>
         <a href="#" class="home-superior-a"><img class="home-icon" src="img/bac-icon.png"></a>
         <a href="#" class="home-superior-a"><img class="home-icon" src="img/home-icon.png"></a>
    </div>
    <div class="producto-msg-title">
        Seleccione el producto que desea formular o prescribir
    </div>
    <div class="slider-productos">
    	<slick init-onload=true dots=false arrows=true infinite=false speed=300 slides-to-show=1 touch-move=false slides-to-scroll=1 data="productos">
    		<div ng-repeat="producto in productos">
    			<a href="#/productos/{{ producto.id }}"><img class="productos-imagen-home" src="{{ producto.imagen }}"></a>
    		</div>
    	</slick>
    </div>
    </ion-content>
</ion-view>