<ion-view title="Productos" cache-view="true">
    <ion-content>
    <div class="superior-productos">
	    <img class="home-icon-1" src="img/epd-icon.png">
         <a href="#" class="home-superior-a"><img class="home-icon" src="img/bac-icon.png"></a>
         
    </div>
    <h4 class="nutricion_h4">Nutrición Avanzada</h4>
    <div class="producto-msg-title">
        Seleccione el producto que desea recomendar
    </div>
    <div class="slider-productos">
    	<slick init-onload=true dots=false arrows=true infinite=false speed=300 slides-to-show=1 touch-move=true slides-to-scroll=1 data="productos">
    		<div ng-repeat="producto in productos">
    			<a ng-model="model[$index].invima" href="#/productos/{{ producto.id }}"><img class="productos-imagen-home" src="{{ producto.imagen }}"></a>
                <div class="datos_invima">
                <h5 style="color: #666869;text-align: center;">Invima: {{ producto.invima }} </h5>
                <p >Preparación: {{ producto.preparacion }}</p>
                </div>
    		</div>
    	</slick>
    </div>
    </ion-content>
    <script>
        window.resize();
    </script>
</ion-view>