<ion-view title="Productos">
    <ion-content>
     <div class="superior-productos">
	     <img class="home-icon-1" src="img/epd-icon.png">
	     <h4>Nutricion inteligente</h4>
	     <img class="home-icon" src="img/bac-icon.png">
	     <img class="home-icon" src="img/home-icon.png">
     </div>
 
    <div class="producto-msg-title">
    Seleccione el producto que desea formular o prescribir
    </div>


    <slick>

    <h3 ng-repeat="producto in productos">
		<a href="#/productos/{{ producto.id }}">{{ producto.nombre }}</a>
    </h3>
	    
    </slick>
    </ion-content>
</ion-view>