/* Empty. Add your own CSS if you like */
.home
{
	 background-image: url("../img/home-02.png");
     background-position: center top;
     background-size: 100% 320px;
     background-repeat: no-repeat;
     background-color: #FFF;
     height: 350px;
}

.boton-detalles {
    -webkit-appearance: button;
    -webkit-user-select: none;
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    -webkit-padding-end: 20px;
    -webkit-border-radius: 15px;
    -webkit-padding-start: 2px;
    border: 1px solid #fff;
    color: #fff;
    font-size: inherit;
    overflow: hidden;
    padding: 5px 40px 5px 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    border-radius: 15px;
    background-color: #07b1d8;
    background-position: 98% center;
    background-repeat: no-repeat;
    width: 100%;
}


.detalles-ul{
    list-style: none;
    color: white;
    background: #53c2e3;
    padding: 10px;
    
}

.img-home{

    width: 76%;
    margin-top: 50%;

}

.detalles-imagen{
    text-align: center;
    width: 100%;
}



.img-home-inf{

    width: 50px;
    margin-top: 40%;
}

.franja-azul-home{
    position: absolute;
    z-index: -2;
    height: 10px;
    width: 100%;
    background-color: rgba(0,50,171,0.7);
    top: 0px;
}

.franja-amarilla-home{
    position: absolute;
    z-index: -2;
    height: 10px;
    width: 100%;
    background-color: rgba(255,218,0,0.7);
    top: 18px;
}

.franja-azul{
    position: absolute;
    z-index: -2;
    height: 32px;
    width: 100%;
    background-color: rgba(0,50,171,0.7);
    top: 40%;
}

.franja-amarilla {
    position: absolute;
    z-index: -2;
    height: 32px;
    width: 100%;
    background-color: rgba(255,218,0,0.7);
    top: 50%;
}
.productos-imagen-home {
    width: 69%;
    margin: 0px auto;
}
.superior-productos h4{
    margin-top: 18px;
    width: 100%;
    float: left;
    text-align: center;
    color: #0032AB;
    font-size: 13px;
    position: absolute;
}
.home-icon {
   
    width: 23px;
    height: 20px;
    
}
.home-superior-a{
    margin-top: 20px;
    float: right;
    margin: 15px 7px 0 0;
    position: relative;
}
.home-icon-1{
    margin-top: 5px;
    float: left;
    width: 44px;
    height: 34px;
    margin-left: 12px;
}

.text-encabezado-productos{

float: left;
width: 60%;
text-align: center;

}



.superior-productos{

border-bottom-color: #FFDA00;
border-bottom-width: 3px;
border-bottom-style: solid;
height: 49px;

}

.producto-msg-title{

background-color: #07B1D8;
color: white;
border-radius: 24px;
margin: 9%;
text-align: center;
padding: 7.5px 0 7.5px 0;
padding: 5px 5px 5px 5px;

}

.slider-productos {
    position: relative;
}

.slider-productos:before {
    content: '';
    position: absolute;
    top: 30%;
    left: 0%;
    width: 100%;
    height: 10%;
    background-color: rgba(0,50,171,0.7);
    z-index: -1;
}

.slider-productos:after {
    content: '';
    position: absolute;
    top: 60%;
    left: 0%;
    width: 100%;
    height: 10%;
    background-color: rgba(255,218,0,0.7);
    z-index: -1;
}

.slick-prev, .slick-next {
    top: 50%;
}

.slick-next {
    right: 30px;
}

.slick-prev {
    left: 30px;
}

.slick-prev:before, .slick-next:before {
    color: #0a0a0a;
}

.slick-slider {
    z-index: 100;
}

.select-blue {
    -webkit-appearance: button;
    -webkit-user-select: none;
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    -webkit-padding-end: 20px;
    -webkit-border-radius: 15px;
    -webkit-padding-start: 2px;
    border: 1px solid #fff;
    color: #fff;
    font-size: inherit;
    overflow: hidden;
    padding: 5px 40px 5px 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    border-radius: 15px;
    background-image: url(../img/select-arrow.png), -webkit-linear-gradient(#07B1D8, #07B1D8 40%, #07B1D8);
    background-image: url(../img/select-arrow.png), -o-linear-gradient(#07B1D8, #07B1D8 40%, #07B1D8);
    background-image: url(../img/select-arrow.png), linear-gradient(#07B1D8, #07B1D8 40%, #07B1D8);
    background-position: 98% center;
    background-repeat: no-repeat;
    width: 100%;
}   

div.form-container {
    margin: 9%;
}