/* Empty. Add your own CSS if you like */
/*.home
{
	 background-image: url("../img/home-02.png");
     background-position: center top;
     background-size: 100% 320px;
     background-repeat: no-repeat;
     background-color: #FFF;
     height: 350px;
}


.superior-productos h4{
   margin-top: 18px;
	width: 65%;
	float: left;
	text-align: center;
	color: #0032AB;
	font-size: 13px;
}

.home-icon{
       margin-top: 20px;
    float: left;
    width: 23px;
    height: 20px;

}

.home-icon-1{
    margin-top: 5px;
    float: left;
    width: 44px;
    height: 34px;
    margin-left: 12px;
}

.text-encabezado-productos{

float: left;
width: 60%;
text-align: center;

}



.superior-productos{


border-bottom-color: #FFDA00;
border-bottom-width: 3px;
border-bottom-style: solid;
height: 49px;

}