/* Empty. Add your own CSS if you like */
.home
{
	 background-image: url("../img/home-02.png");
     background-position: center top;
     background-size: 100% 320px;
     background-repeat: no-repeat;
     background-color: #FFF;
     height: 350px;
}

.detalles-imagen{
    text-align: center;
    width: 100%;
}

.franja-azul{
    position: absolute;
    z-index: -2;
    height: 32px;
    width: 100%;
    background-color: rgba(0,50,171,0.7);
    top: 233px;
}

.franja-amarilla {
    position: absolute;
    z-index: -2;
    height: 32px;
    width: 100%;
    background-color: rgba(255,218,0,0.7);
    top: 293px;
}
.productos-imagen-home {
width: 69%;
margin: 0px auto;
}
.superior-productos h4{
   margin-top: 18px;
	width: 65%;
	float: left;
	text-align: center;
	color: #0032AB;
	font-size: 13px;
}

.home-icon{
       margin-top: 20px;
    float: left;
    width: 23px;
    height: 20px;

}

.home-icon-1{
    margin-top: 5px;
    float: left;
    width: 44px;
    height: 34px;
    margin-left: 12px;
}

.text-encabezado-productos{

float: left;
width: 60%;
text-align: center;

}



.superior-productos{


border-bottom-color: #FFDA00;
border-bottom-width: 3px;
border-bottom-style: solid;
height: 49px;

}

.producto-msg-title{

background-color: #07B1D8;
color: white;
border-radius: 24px;
margin: 9%;
text-align: center;
padding: 7.5px 0 7.5px 0;
padding: 5px 5px 5px 5px;

}